<head>
  <meta name="description" content="Discover the new Volkswagen Polo with sleek design and innovative technology. Book a VW Polo test drive at your local dealer today. It&rsquo;s a confidence thing.">
 <!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="Content/js/jquery-1.8.2.min.js"><\/script>')</script>

<script src="Content/js/jquery.bxslider.min.js"></script>
<script src="Content/js/script.js"></script>
<link href="Content/css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<link href="Content/css/style.css" rel="stylesheet" type="text/css" />


    <script>
        if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/Android/i))) {
            location.replace("http://volkswagenaustralia.com.au/models/polo/mobile/");
        }
    </script>
  
  <!--[if gt IE 9 | !IE ]><!-->
    <script src='//d3c3cq33003psk.cloudfront.net/opentag-100264-1260858.js'async defer></script>
  <![endif]-->
  <!--[if lte IE 9]>
    <script src='//d3c3cq33003psk.cloudfront.net/opentag-100264-1260858.js'></script>
  <![endif]-->
  
  <script type="text/javascript">
  //Google analytics 
  var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-21975546-7']);
   _gaq.push(['_setDomainName', 'volkswagenaustralia.com.au']);
   _gaq.push(['_addIgnoredRef', 'volkswagen.com.au']);
   _gaq.push(['_setAllowLinker', true]);
   _gaq.push(['_trackPageview']);

   $(function () {
     $("a[href*='volkswagen.com.au']").click(function(){
     var tracker = _gat._getTrackerByName();
     var fullUrl = tracker._getLinkerUrl($(this).attr("href"));
     if ($(this).attr("target") == '_blank') {
       window.open(fullUrl);
     } else if ($(this).attr("target") == '_parent') {
       window.top.location = fullUrl;
     } else {
       document.location.href = fullUrl;
     }
     return false;
     });
   });

   (function () {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  </script>

</head>

<body>


<div class="wrapper">
  <div id="top-nav">
    <a href="http://www.volkswagen.com.au/en/models/polo.html" class="carline-title" onclick="s_objectID=&quot;http://www.volkswagen.com.au/en/models/polo.html_2&quot;;return this.s_oc?this.s_oc(e):true">Polo</a>
    <div>
    <ul>
      <li><a href="http://www.volkswagen.com.au/en/models/polo/highlights.html" onclick="s_objectID=&quot;http://www.volkswagen.com.au/en/models/polo/highlights.html_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Highlights</span></a></li>
      <li><a href="http://volkswagenaustralia.com.au/models/pologti"><span>Polo GTI</span></a></li>
      <li><a href="http://volkswagenaustralia.com.au/PassengerVehicleVariants/vehicle/polo" class="vwd4_track_click {'track_options':{'eventTargetTitle':'http://volkswagenaustralia.com.au/PassengerVehicleVariants/vehicle/polo','eventTargetUrl':'http://volkswagenaustralia.com.au/PassengerVehicleVariants/vehicle/polo','eventType':'LinkExternal'}}" onclick="s_objectID=&quot;http://volkswagenaustralia.com.au/PassengerVehicleVariants/vehicle/polo_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Models &amp; Pricing</span></a></li>
      <li><a href="http://www.volkswagen.com.au/en/models/polo/multimedia.html" onclick="s_objectID=&quot;http://www.volkswagen.com.au/en/models/polo/multimedia.html_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Gallery</span></a></li>
      <li><a href="http://www.volkswagen.com.au/en/sales/accessories/polo_accessories.html" onclick="s_objectID=&quot;http://www.volkswagen.com.au/en/sales/accessories/polo_accessories.html_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Accessories</span></a></li>
      <li><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201" onclick="s_objectID=&quot;http://www.volkswagen.com.au/en/buildandprice.html_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Build & Price</span></a></li>
      <li><a href="http://volkswagenaustralia.com.au/sales/brochure/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84" class="vwd4_track_click {'track_options':{'eventTargetTitle':'http://volkswagenaustralia.com.au/sales/brochure/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84','eventTargetUrl':'http://volkswagenaustralia.com.au/sales/brochure/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84','eventType':'LinkExternal'}}" onclick="s_objectID=&quot;http://volkswagenaustralia.com.au/sales/brochure/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Download a Brochure</span></a></li>
      <li><a href="http://volkswagenaustralia.com.au/sales/testdrive/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84" class="vwd4_track_click {'track_options':{'eventTargetTitle':'http://volkswagenaustralia.com.au/sales/testdrive/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84','eventTargetUrl':'http://volkswagenaustralia.com.au/sales/testdrive/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84','eventType':'LinkExternal'}}" onclick="s_objectID=&quot;http://volkswagenaustralia.com.au/sales/testdrive/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Book a Test Drive</span></a></li>
      <li><a href="http://volkswagenaustralia.com.au/CappedPriceServicing/?Model=Polo&ModelPage=true" class="vwd4_track_click {'track_options':{'eventTargetTitle':'http://volkswagenaustralia.com.au/CappedPriceServicing/?Model=Polo&amp;ModelPage=true','eventTargetUrl':'http://volkswagenaustralia.com.au/CappedPriceServicing/?Model=Polo&amp;ModelPage=true','eventType':'LinkExternal'}}" onclick="s_objectID=&quot;http://volkswagenaustralia.com.au/CappedPriceServicing/?Model=Polo&amp;ModelPage=true_1&quot;;return this.s_oc?this.s_oc(e):true"><span>Capped Price Servicing</span></a></li>
    </ul>
    </div>
  </div>

<div id="slide1">
    <ul class="topslider">
        <li><h1><img class="desktop-hero" src="Content/images/slide1.jpg" alt="2015 Volkswagen Polo GTI" width="100%"><img class="mob-hero" src="Content/images/mob-hero.jpg" alt="The Polo. It's a confidence thing" width="100%">   




      <div class="scroll-down"><span class="scroll-text">Scroll to begin</span><img src="Content/images/scroll-down.png"></div></h1>




        </li>
    </ul>
</div>


<div id="slide2">
    <ul class="carslider">
        <!-- Car slides --> 
        <li id="cornflowerblue" class="colour-carousel">
            <div class="mobile-height">
                <p class="carslider-heading">Encapsulating the very best in compact credentials - the advanced Polo.</p>
                <p class="mobile-adjust">With bold styling, impressive performance, fuel efficiency and superior safety systems, the Polo will give you complete confidence in every journey. 
                  <br>Available in six stylish colours, find the one that suits you best. 
</p>
                <a class="car-link" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></a>
                <div class="spacer-div"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></div>
            </div>
            <div class="colour-title">
                <div class="arrow"><img src="Content/images/paint-arrow.png" width="100%"/></div>
                <p><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Cornflower Blue</a></p>
            </div>
        </li>

        <li id="purewhite" class="colour-carousel">
            <div class="mobile-height">
                <p class="carslider-heading">Encapsulating the very best in compact credentials &#8211; the advanced Polo.</p>
                <p class="mobile-adjust">With bold styling, impressive performance, fuel efficiency and superior safety systems, the Polo will give you complete confidence in every journey.
<br>Available in six stylish colours, find the one that suits you best.

</p>
                <a class="car-link" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></a>
                <div class="spacer-div"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></div>
            </div>
            <div class="colour-title">
                <div class="arrow"><img src="Content/images/arrow-black.png" width="100%"/></div>
                <p><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Pure White</a></p>
            </div>
        </li>

        <li id="deepblackpearl" class="colour-carousel">
        	<div class="mobile-height">
                <p class="carslider-heading">Encapsulating the very best in compact credentials &#8211; the advanced Polo.</p>
                <p class="mobile-adjust">With bold styling, impressive performance, fuel efficiency and superior safety systems, the Polo will give you complete confidence in every journey.
<br>Available in six stylish colours, find the one that suits you best.
</p>
                <a class="car-link" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></a>
                <div class="spacer-div"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></div>
            </div>
            <div class="colour-title">
                <div class="arrow"><img src="Content/images/paint-arrow.png" width="100%"/></div>
                <p><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Deep Black Pearl Effect</a>


                  <br><span class="sidenote">Please note the Metallic and Pearl Effect paint are optional at extra cost.</span></p>

                
            </div>
        </li>

        <li id="reflexsilver" class="colour-carousel">
            <div class="mobile-height">
                <p class="carslider-heading">Encapsulating the very best in compact credentials &#8211; the advanced Polo.</p>
                <p class="mobile-adjust">With bold styling, impressive performance, fuel efficiency and superior safety systems, the Polo will give you complete confidence in every journey.
<br>Available in six stylish colours, find the one that suits you best.
</p>
                <a class="car-link" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></a>
                <div class="spacer-div"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></div>
            </div>
            <div class="colour-title">
                <div class="arrow"><img src="Content/images/arrow-black.png" width="100%"/></div>
                <p><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Reflex Silver Metallic</a>


                    <br><span class="sidenote">Please note the Metallic and Pearl Effect paint are optional at extra cost.</span>
            </div>
        </li>

        <li id="sunsetred" class="colour-carousel">
            <div class="mobile-height">
                <p class="carslider-heading">Encapsulating the very best in compact credentials &#8211; the advanced Polo.</p>
                <p class="mobile-adjust">With bold styling, impressive performance, fuel efficiency and superior safety systems, the Polo will give you complete confidence in every journey.
<br>Available in six stylish colours, find the one that suits you best.
</p>
                <a class="car-link" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></a>
                <div class="spacer-div"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></div>
            </div>
            <div class="colour-title">
                <div class="arrow"><img src="Content/images/paint-arrow.png" width="100%"/></div>
                <p><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Sunset Red Metallic</a>


                     <br><span class="sidenote">Please note the Metallic and Pearl Effect paint are optional at extra cost.</span></p>
                

            </div>
        </li>



         <li id="peppergreymetallic" class="colour-carousel">
            <div class="mobile-height">
                <p class="carslider-heading">Encapsulating the very best in compact credentials &#8211; the advanced Polo.</p>
                <p class="mobile-adjust">With bold styling, impressive performance, fuel efficiency and superior safety systems, the Polo will give you complete confidence in every journey.
<br>Available in six stylish colours, find the one that suits you best.
</p>
                <a class="car-link" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></a>
                <div class="spacer-div"><img height="100%" width="100%" src="Content/images/placeholder3.png"/></div>
            </div>
            <div class="colour-title">
                <div class="arrow"><img src="Content/images/paint-arrow.png" width="100%"/></div>
                <p><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Pepper Grey Metallic</a>
                  <br><span class="sidenote">Please note the Metallic and Pearl Effect paint are optional at extra cost.</span>
            </div>
        </li>

    </ul>
</div>



<div id="howcanwehelp"><h3>How can we help you?</h3>

  <ul><li><a onclick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Brochures']);" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html?__utma=119913999.305973.1434328238.1437354004.1437359857.19&__utmb=119913999.4.9.1437359903314&__utmc=119913999&__utmx=-&__utmz=119913999.1436335649.14.11.utmcsr=staging.tribalstage.com|utmccn=(referral)|utmcmd=referral|utmcct=/volkswagen/emails/volkswagen-responsive-edm/VGACV0071TR-Canyon/owners.html&__utmv=-&__utmk=14431863">Customise your Polo</a></li>
    

  <li><a onclick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Brochures']);" href="http://volkswagenaustralia.com.au/findadealer/">Find a dealer near you</a></li>
</ul>




  </div>

<!-- Bottom Box Container-->

<div id="slide3">
	 <ul class="bottomslider">

		<li id="bottom1">
            <img class="desktop-hero" src="Content/images/exterior.jpg" alt=""/><img class="mob-hero" src="Content/images/mob-exterior.jpg" alt="" width="100%">
            <div class="blackbox"><h3>A leader in design.</h3>
			    <p class="last">The Polo is eye-catchingly sleek. It&rsquo;s wide stance and strong lines give the Polo a sporty, contemporary profile.</p>
		    </div>
        </li>

		<li id="bottom2">
            <img class="desktop-hero" src="Content/images/interior.jpg" alt=""/><img class="mob-hero" src="Content/images/mob-interior.jpg" alt="" width="100%">
            <div class="blackbox"><h3>Impressive interior.</h3>
			    <p class="last">The premium interior features a state-of-the-art dashboard and comfort features. Handy compartments are located throughout the interior with practicality in mind.</p>
		    </div>
        </li>

		<li id="bottom3">
            <img class="desktop-hero" src="Content/images/technology.jpg" alt=""/><img class="mob-hero" src="Content/images/mob-interior.jpg" alt="" width="100%">
            <div class="blackbox"><h3>Innovative technology.</h3>
			    <p class="last">A turbocharged 1.2 litre TSI engine delivers effortless performance, with the efficiency of BlueMotion Technology. Electro-mechanical power steering ensures precise, agile handling while the touchscreen display offers the convenience of a personalised driving experience.</p>
		    </div>
        </li>

		<li id="bottom4">
            <img class="desktop-hero" src="Content/images/infotainment.jpg" alt=""/><img class="mob-hero" src="Content/images/mob-interior.jpg" alt="" width="100%">
            <div class="blackbox"><h3>Stay connected.</h3>
			    <p>Enjoy crystal clear audio every time you drive. The 5-inch colour touchscreen audio system brings greater functionality to your fingertips for audio control. Communicating on the move is easy with Bluetooth<sup>&reg;</sup> phone connectivity.</p>
		      
            </div>
        </li>

		<li id="bottom5">
            <img class="desktop-hero" src="Content/images/safety.jpg" alt=""/><img class="mob-hero" src="Content/images/mob-interior.jpg" alt="" width="100%">
            <div class="blackbox"><h3>Safety comes as standard, every time.</h3>
			    <p>With six airbags, ABS and Electronic Brake-pressure Distribution (EBD), traction control with Electronic Stabilisation Program (ESP) and multi-collision braking technology, it&rsquo;s safety without compromise.</p>
		    </div>
        </li>


	</ul>



<div id="bottom-wrap">
    <div id="thumbnails">
      <li><a onclick="_gaq.push(['_trackEvent', 'Features Carousel', 'Click', 'Exterior']);" id="thumb0" data-slide-index="0" href="">Exterior</a>
        <img src="Content/images/thumb-exterior.jpg">
      </li>
  
      <li><a onclick="_gaq.push(['_trackEvent', 'Features Carousel', 'Click', 'Interior ']);" id="thumb1" data-slide-index="1" href="">Interior</a>
        <img src="Content/images/thumb-interior.jpg">
      </li>

      <li><a onclick="_gaq.push(['_trackEvent', 'Features Carousel', 'Click', 'Technology ']);" id="thumb2" data-slide-index="2" href="">Technology</a>
      <img src="Content/images/thumb-technology.jpg">
      </li>

      <li>
      <a onclick="_gaq.push(['_trackEvent', 'Features Carousel', 'Click', 'Infotainment ']);" id="thumb3" data-slide-index="3" href="">Infotainment</a>
      <img src="Content/images/thumb-infotainment.jpg">
    </li>

      <li>
      <a onclick="_gaq.push(['_trackEvent', 'Features Carousel', 'Click', 'Safety']);" id="thumb4" data-slide-index="4" href="">Safety</a>
      <img src="Content/images/thumb-safety.jpg">
      </li>
    </div>

     <div id="links">
    
        <li><a onclick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Build & Price']);" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html#30201">Build & Price</a></li>
        <li><a onclick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Brochures']);" href="http://volkswagenaustralia.com.au/sales/brochure/?vehicleid=8741561F-F1F4-437A-8047-AB38C4B29870">Brochures</a></li>
        <li><a onclick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Book a Test Drive']);" href="http://volkswagenaustralia.com.au/sales/testdrive/?vehicleid=89F3BD50-820D-4B1E-B158-62D40FD09C84">Book a Test Drive</a></li>
    </div>

</div>


</div>


<!-- End Bottom Box -->

<div class="mobile-cta">
    <a id="buildbtn" class="mob-footer-links red-btn" href="http://app.volkswagen.com.au/ihdcc/en/configurator.html">Build & Price</a>
    <a id="brochurebtn" class="mob-footer-links red-btn"href="http://m.volkswagenaustralia.com.au/brochure">Brochure</a>
    <a id="testdrivebtn" class="mob-footer-links red-btn"href="http://m.volkswagenaustralia.com.au/testdrive">Test Drive</a>
    <a id="topbtn" class="mob-footer-links grey-btn"href="#top">Top <img src="Content/images/grey-btn-arrow.jpg" width="20"></a>
</div>



<!-- Form Starts here -->

<div id="test-drive"><h1>Get behind the wheel.</h1>

<h2>Experience confidence 
<br>Book a test drive in the Polo today.</h2>



<form action="/Performance/" id="booking_form" method="post">
<div class="container">             
                <ol class="form-fields">
                  <li class="form-field-wrapper">
                    <label for="book_model">Select a model<span class="req">*</span></label>
                    <div class="form-field-select-wrapper">
<select class="form-field-select" data-val="true" data-val-required="The book_model field is required." id="book_model" name="book_model">
    <option value="GOLFR">Golf R</option>
    <option value="SCIROCCOR">Scirocco R</option>
    <option value="GOLFGTIPERFORM">Golf GTI Performance</option>
    <option value="NEWGOLFGTI">Golf GTI</option>
    <option value="POLOGTI">Polo GTI</option>
    <option value="TOUAREG">Touareg R-Line</option>
    <option value="TIGUAN">Tiguan R-Line</option>
</select> </div>
                  
                  </li>

                  <li class="form-field-wrapper form-field-book_first_name">
                    <label for="book_first_name">First Name<span class="req">*</span></label>
                                         <input class="form-field-text" data-val="true" data-val-required="A First name is required" id="firstname" maxlength="100" name="firstname" type="text" value="">
                                         <span class="field-validation-valid" data-valmsg-for="firstname" data-valmsg-replace="true"></span>
                  </li>

                  <li class="form-field-wrapper form-field-book_last_name">
                    <label for="book_last_name">Last Name<span class="req">*</span></label>
                                         <input class="form-field-text" data-val="true" data-val-required="A Last name is required" id="lastname" maxlength="100" name="lastname" type="text" value="">
                                         <span class="field-validation-valid" data-valmsg-for="lastname" data-valmsg-replace="true"></span>
             
                  </li>

                  <li class="form-field-wrapper form-field-book_email">
                    <label for="book_email">Email<span class="req">*</span></label>
                     <input class="form-field-text" data-val="true" data-val-regex="Please enter a valid email" data-val-regex-pattern="^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}$" data-val-remote="Please enter a valid email" data-val-remote-additionalfields="*.email" data-val-remote-url="/Performance/Validation/IsEmailValid" data-val-required="Please enter a valid email" id="email" maxlength="255" name="email" type="text" value="">
                                         <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                  </li>

                  <li class="form-field-wrapper form-field-book_phone">
                    <label for="book_phone">Phone<span class="req">*</span></label>
                                          <input class="form-field-text" data-val="true" data-val-regex="Please enter a valid phone number" data-val-regex-pattern="0[0-9\-\(\)\+\s]{9,9}" data-val-required="Please enter a valid phone number" id="phone" maxlength="10" name="phone" type="text" value="">
                                          <span class="field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true"></span>
                  </li>

                  <li class="form-field-wrapper form-field-book_postcode">
                    <label for="book_postcode">Postcode<span class="req">*</span></label>
                                         <input class="form-field-text" data-val="true" data-val-regex="Please enter a valid post code" data-val-regex-pattern="^[0-9]{3,4}$" data-val-required="A Postcode is required" id="postcode" maxlength="4" name="postcode" type="text" value="">
                                         <span class="field-validation-valid" data-valmsg-for="postcode" data-valmsg-replace="true"></span>
                  </li>


                  <li class="form-field-wrapper form-field-book_submit">
                    <input type="submit" name="book_submit" id="book_submit" class="form-field-button button button-alt button-big" value="Take it for a spin">
                  </li>
                </ol>

              </div>
</form>
 

<!--  <section id="book" class="page">
         
          <div class="section-content">
            <div id="booking_form_confirmation">
              <div class="container">
                <p class="section-subtitle">Thanks for requesting a test drive. A local dealer will contact you soon.</p>
                <p class="configure"><a href="http://app.volkswagen.com.au/ihdcc/en/configurator.html" class="button button-alt button-big">Build your performance car</a></p>
              </div>
            </div>
          </div>
        </section> -->

</div>

<!-- End Form -->




<!-- Start Social Share Buttons -->


<div id="social-links">

<ul><li><img src="Content/images/facebook-icon.png"><span>Facebook</span></li>
  <li><img src="Content/images/googleplus-icon.png"><span>Google Plus</span></li>
  <li><img src="Content/images/twitter-icon.png"><span>Twitter</span></li>
  <li><img src="Content/images/youtube-icon.png"><span>Youtube</span></li>
</ul>

 </div>


<!-- End Social Share Buttons -->

</div>

</body>
</html>
