
/*===================== FONT FACE IMPORT =========================================== */
 
@font-face {
    font-family: 'vwheadlineblack';
    src: url('font/vwheadline-black-webfont.eot');
    src: url('font/vwheadline-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/vwheadline-black-webfont.woff') format('woff'),
         url('font/vwheadline-black-webfont.ttf') format('truetype'),
         url('font/vwheadline-black-webfont.svg#vwheadlineblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'vwheadline-sbsb';
    src: url('font/vwheadline-semibold-webfont.eot');
    src: url('font/vwheadline-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/vwheadline-semibold-webfont.woff') format('woff'),
         url('font/vwheadline-semibold-webfont.ttf') format('truetype'),
         url('font/vwheadline-semibold-webfont.svg#vwheadline-sbsb') format('svg');
    font-weight: normal;
    font-style: normal;



}



/*-----------
MAIN STYLES
-----------*/
* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html { margin: 0; padding-bottom: 0}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 1.182em;
  direction: ltr;
  margin: 0; 
  padding-bottom: 0
}

.wrapper {
	max-width: 960px;
	margin: 0% auto;
	display: block;
	overflow: hidden;
	font-size: 12px;
	font-family: inherit;
	font-weight: normal;
    font-style: normal;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    border-style: solid;
    border-color: #ccc;
    border-width: thin;
}

a:active, a:focus {outline : none;border 0}

small{font-size:70%}

p.last, p:last-child{margin-bottom:0;}
p.disclaimer{line-height:1 !important;}
ol {list-style: none;}

/*----------
SECONDARY NAV
------------*/
.secondnav-wrapper {
  max-width: 960px;
  margin: 0% auto;
  display: block;
  overflow: hidden;
  font-size: 12px;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}
 
#top-nav {
  margin: 0 20px
}

#top-nav a.carline-title {
	font-family: 'VWD4 Black', 'vwheadlineblack', Arial, Helvetica, sans-serif;
	margin: 5px 10px 0 0;
	display: inline-block;
    color:#000000;
    float: left;
    font-size:14px;
    text-decoration: none;
}

#top-nav ul {
	margin-left: 0px;
	padding: 6px 0 5px 0;
    margin: 5px;
}

#top-nav ul li {
	/*border-left: 1px solid #ccd7db;*/
	background-image: url(http://www.volkswagen.com.au/apps/vwd4_base/docroot/frontend/resources/img/layout/arrows_sprite.png);
    background-repeat: no-repeat;
    background-position: -359px -142px;
	display: inline-block;
	padding-left: 9px;
    margin-left: 8px;
    font-family: 'VWD4 Semibold', 'vwheadline-sbsb', Arial, Helvetica, sans-serif;
    color: #33434c;
}

#top-nav ul li:last-child {
	border-right: none;
}

#top-nav ul li a {
	text-decoration: none;
	color: #33434c;	
}

#top-nav ul li a:hover{
    color:#2274ac;
}

#nav-select {
    color: #2274ac !important;
}
#nav-select span {
    padding-left: 5px;
}

/*-----END SECOND NAV STYLES------*/

/*--------------
BX OVERRIDES
----------------*/
.bx-wrapper {
	margin-bottom: 0;
}

.bx-wrapper .bx-pager {
	position: absolute;
	bottom: 20;
}

.bx-wrapper .bx-pager {
	position: absolute;
	bottom: 20;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #3b7ab2;
}

.bx-wrapper .bx-pager { /* remove when more than 1 slider */
	display: none;
}

.bx-viewport { /*min-height: 580px!important*/}

.bx-wrapper .bx-viewport { border: none!important; box-shadow: none!important; left: 0px!important;}

.bx-wrapper .bx-controls-direction a {
	height: 83px;
	width: 83px;
}

.bx-wrapper .bx-prev, .bx-wrapper .bx-prev:hover  {
left: 10px;
background: url('../images/left.png') no-repeat 0 0px;

}

.bx-wrapper .bx-next, .bx-wrapper .bx-next:hover  {
right: 10px;
background: url('../images/right.png') no-repeat 0 0px;
}

/*Bug fix for odd chrome issue - last slide appearing first*/
#slide3 .bx-viewport li { min-height: 1px; min-width: 1px; }

/*SLIDE 1 STYLES*/
#slide1 .bx-wrapper .bx-controls-direction a {
	display: none;
}

#slide1 .topslider h1{margin:0; line-height: 0; padding: 0; background-color: #1c1c1c}

/*YOUTUBE STYLES*/
#youtube-slide{width:100%;height:100%;margin:0 auto;background:#000000}
#iframe-container{position:relative;}
#iframe-container .ratio{display:block;width:100%;height:auto;}
#iframe-container iframe {position:absolute;top:0;left:0;width:100%; height:100%;max-width: 100%;}


.scroll-down {
	bottom: 22px;
	z-index: 10;
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	cursor:pointer;

}

.scroll-down img {
	padding-top: 12px;

}


.scroll-text {
	display: block;
	color: #fff;
	font-size:12px;

}

/*SLIDE 2 STYLES*/
#slide2 {
    background: url('../images/transition.png') repeat-y 0 0;
      display: block;
}

#slide2 .bx-wrapper .bx-pager {
	display: none;
}

#slide2 .bx-viewport {
	/*height: 649px!important;*/
}

#slide2 .bx-wrapper .bx-viewport li{  width: 100% !important;}

#slide2 p {
	/*max-width: 900px;*/
	line-height: 1.9em;
}

/*.mobile-height{min-height:80%;}*/

/*#slide2 .colour-title{margin-top: 38%;}*/
#slide2 .colour-title img{margin:0 auto;}
#slide2 .colour-title p {text-align:center;font-family: 'VWD4 Black', 'vwheadlineblack', Arial, Helvetica, sans-serif;margin: 5px;}
.sidenote { font-weight: normal; font-family:  Arial, Helvetica, sans-serif; font-size: 12px;  margin-top: 10px; display: block;}


#howcanwehelp {
	height: 170px;
	color: #fff;
	text-align: center;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #1e1e20 url('../images/book_bg.jpg') 50% 50% no-repeat;

}

#howcanwehelp ul {
max-width: 586px;
max-width: 60%;
}


#howcanwehelp ul li:nth-child(2){
	float: right;
}

#howcanwehelp h3 {
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-family: 'vwheadlineblack';

}


.carslider li {
	height: 647px;
	padding: 0px 40px 15px 40px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;        
}

.carslider h2, p.carslider-heading {
	font-family: 'VWD4 Semibold', 'vwheadline-sbsb', Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-bottom: 0px;
	font-weight: normal;
	padding-bottom: 15px;	
	padding-bottom: 0;
}

.carslider-mob img {
    width:100%;
    height: 878px;
}

.carslider, .topslider { padding: 0; margin: 0; position: relative;}

.topslider li {line-height: 0;}

p.carslider-heading{line-height: 100% !important;position: relative;}

#cornflowerblue {background: #0271b7 url('../images/cornflowerblue.jpg') no-repeat 0 0;color: #ffffff;}
#cornflowerblue p, #cornflowerblue h2  {color: #ffffff;}

#purewhite {background: #ebece8 url('../images/purewhite.jpg') no-repeat 0 0;color: #000000;}
#purewhite p, #purewhite h2 {color: #000000;}
#purewhite .colour-title a {color: #000000;}

#deepblackpearl {background: #030303 url('../images/deepblackpearl.jpg') no-repeat 0 0;color: #ffffff;}
#deepblackpearl p, #deepblackpearl h2, #deepblackpearl a {color: #ffffff;}

#reflexsilver {background: #c1c4c3 url('../images/reflexsilver.jpg') no-repeat 0 0; color: #000000;}
#reflexsilver p, #reflexsilver h2, #reflexsilver .colour-title a  {color: #000000;}


#sunsetred {background: #981c1f url('../images/sunsetred.jpg') no-repeat 0 0; color: #ffffff;}
#sunsetred p, #sunsetred h2  {color: #ffffff;}

#peppergreymetallic {background: #535756 url('../images/peppergreymetallic.jpg') no-repeat 0 0; color: #ffffff;}
#peppergreymetallic p, #peppergreymetallic h2  {color: #ffffff;}



.colour-title{  min-width: 240px;
  position: absolute;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  min-height: 72px;}

.car-link, .spacer-div{display: block;
  width: 80%;
  margin: 0 auto;}
  
.car-link img, .spacer-div img {height:420px;}

.colour-title .arrow{width:20%; margin: 0 auto;}
.colour-title a {color:#ffffff; text-decoration:none;}

/*SLIDE 3 STYLES*/
#slide3 {
	position: relative;
}

.bottomslider { padding: 0px; margin: 0;}



.bottomslider h3 {
	font-family: 'VWD4 Semibold', 'vwheadline-sbsb', Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: normal;
}

.bottomslider p {
	line-height: 1.7em;
}

.mobile-headline {
position:absolute;
top:2%;    
}

.blackbox {
	background-color: #0c0f11;
	width: 380px;
	color: #fff;
	padding: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: transparent url('../images/black-bg.png') repeat;
}


/*.bx-clone{display:none !important;}*/

/*VW conflicting styles fix*/
.blackbox h3, .blackbox p {color:#fff;}

#bottom-wrap {
	position: absolute;
	bottom: 15px;
}

#thumbnails {
	bottom: 15;
	margin-left: 18px;
	float: left;
	display: inline-block;
}

#links {
	display: inline-block;
	float: left;
}

#thumbnails li {
	list-style: none;
	position: relative;
	float: left;
	margin-left: 1px;
	border: 1px solid black;
	text-align: center;
	background: #bbb9b9;
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjOTFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjQ5ODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:url('~/images/');*/
	background: -moz-linear-gradient(top,  #bbb9b9 0%, #646464 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbb9b9), color-stop(100%,#646464));
	background: -webkit-linear-gradient(top,  #bbb9b9 0%,#646464 100%); 
	background: -o-linear-gradient(top,  #bbb9b9 0%,#646464 100%); 
	background: -ms-linear-gradient(top,  #bbb9b9 0%,#646464 100%); 
	background: linear-gradient(to bottom,  #bbb9b9 0%,#646464 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb9b9', endColorstr='#646464',GradientType=0 );

}

/*VW conflicting styles fix*/
#thumbnails li a{text-align:center;}


#links li {
	list-style: none;
	position: relative;
	float: left;
	margin-left: 1px;
	border: 1px solid black;
	text-align: center;
	background: #4094c8; /* Old browsers */
	background: -moz-linear-gradient(top,  #4094c8 0%, #015588 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4094c8), color-stop(100%,#015588)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4094c8 0%,#015588 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4094c8 0%,#015588 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4094c8 0%,#015588 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4094c8 0%,#015588 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4094c8', endColorstr='#015588',GradientType=0 ); /* IE6-9 */


}

/*VW conflicting styles fix*/
#links li a{text-align:center;}

#links li:hover {
	color: #c50726;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
}

#links li a {
	text-decoration: none;
	color: #fff;
	display: block;
	width: 114px;
	padding-top: 14px;
	padding-bottom: 14px;
}

#links li:hover {
	border: 1px solid #ffffff;
}


#links li a:hover {
	color: #077dbf;
}

#thumbnails li img { 
	position: absolute;
	left: 0px;
	top: -89px;
	text-align: center;
	font-style: normal;
	z-index: 2;
	display: none;
	border: 2px solid #fff;


}

#thumbnails li a {
	text-decoration: none;
	color: #fff;
	display: block;
	width: 114px;
	padding-top: 14px;
	padding-bottom: 14px;
}

#thumbnails li .active {
	color: #077dbf!important;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */

}

#thumbnails li:hover {
	color: #077dbf!important;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */

}

#howcanwehelp ul{
	margin: 0 auto;
}

#howcanwehelp li {
	list-style: none;
	position: relative;
	float: left;
	margin-left: 1px;
	border: 1px solid black;
	text-align: center;
	background: #4094c8; /* Old browsers */
	background: -moz-linear-gradient(top,  #4094c8 0%, #015588 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4094c8), color-stop(100%,#015588)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4094c8 0%,#015588 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4094c8 0%,#015588 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4094c8 0%,#015588 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4094c8 0%,#015588 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4094c8', endColorstr='#015588',GradientType=0 ); /* IE6-9 */

}



#howcanwehelp li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 254px;
  padding-top: 14px;
  padding-bottom: 14px;
}




#test-drive h1 {font-size:36px;}

#test-drive #booking_form .form-field-select-wrapper {
  background: #fff url('../images/book_select-bg.png') no-repeat top right;
  display: block;
  height: 35px;
  overflow: hidden;
  width: 100%;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx){
#test-drive #booking_form .form-field-select-wrapper {
  background-image: url('../images/book_select-bg@2x.png');
  background-size: 35px auto;
}
}




#test-drive {
	background: #1e1e20 url('../images/book_bg.jpg') 50% 50% no-repeat;
	text-align: center;
	color: #fff;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 55px 0 65px;
}

#test-drive h2 {
	margin-bottom: 30px;
}


#test-drive h3{
	background: #1e1e20 url('../images/book_bg.jpg') 50% 50% no-repeat;
	text-align: center;
	color: #fff;
}

#test-drive #booking_form .form-field-wrapper {
  margin: 0 0 10px;
}

@media only screen and (min-width: 768px){ 
#test-drive #booking_form ol {
  width: 310px;
  margin: 0 auto;
}
}


@media only screen and (max-width: 767px){
#test-drive #booking_form {
  padding: 0 25px;
}


#test-drive .container {
  padding: 0 10px;
  }

#test-drive #booking_form .form-field-wrapper label {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 0 0 5px;
  display: block;
}



#test-drive  #booking_form .form-field-wrapper {
  margin: 0 0 20px;
}


}


#test-drive #booking_form .form-field-wrapper label {
  font-size: 12px;
  padding: 7px 0 0;
  text-align: right;
  top: 0;
  width: 140px;
  left: -155px;
  position: absolute;

}



#test-drive #booking_form .form-field-wrapper label {
  display: block;


}

#test-drive #booking_form .form-field-wrapper {
  position: relative;
}



.button#book_submit {
	margin-top: 12px;
	width: 100%;
	font-family: 'vwheadlineblack';
	padding: 12px;
	border: none;
	font-size: 17px;
	color: #fff;
  	background: #4094c8; /* Old browsers */
	background: -moz-linear-gradient(top,  #4094c8 0%, #015588 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4094c8), color-stop(100%,#015588)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4094c8 0%,#015588 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4094c8 0%,#015588 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4094c8 0%,#015588 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4094c8 0%,#015588 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4094c8', endColorstr='#015588',GradientType=0 ); /* IE6-9 */

}

.button#book_submit {
	cursor: pointer;
}


#test-drive  #booking_form .form-field-text {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2E2E2E;
  height: 35px;
  padding: 10px;
  width: 100%;
}

#test-drive #booking_form .form-field-select-wrapper .form-field-select {
  background: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #2E2E2E;
  display: block;
  height: 35px;
  padding: 0 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 120%;
}



#social-links {
	height: 106px;
	display: block;
	width: 100%;
	background: #484848 url('../images/social-bg.jpg') 0 0 repeat-x;
	padding: 25px 0 30px;
	max-width: 100%;
}

#social-links ul {
	padding-top: 27px;
	max-width: 500px;
	margin: 0 auto;
}



#social-links ul li {
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	width: 110px;
}

#social-links ul li span {
	display: block;
	clear: both;
	margin-top: 5px;
}



/*--------------
MOBILE SPECIFIC
---------------*/
.mobile-cta{width:90%;margin: 0 auto;display:none;}
.mob-footer-links
{
    display:block;
    margin-top: 30px;
    font-family:'VWD4 Book', 'vwheadline-sbsb', Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size:20px;
    padding: 17px;
    text-decoration:none;
}

.red-btn{background: #c50726 url('../images/mob-button-red.jpg') repeat 0 0; background-size: contain;}   
.grey-btn{background-color: #929292;}
.mob-hero{display:none;}
img.mob-hero{display: none}
.spacer-div{display:none;}

/*-----------------
MOBILE STYLES - Queries
-----------------*/
@media screen and (max-width:1000px) {
   #slide3 .bx-wrapper .bx-controls-direction a{display:block; top:40%;}
  #bottom-wrap{display:none;}
  #slide3 .bx-wrapper .bx-controls-direction a{top:55%}
}

@media screen and (max-width:972px) {
  .wrapper{border:none;}
  #cornflowerblue, #purewhite, #deepblackpearl, #reflexsilver, #sunsetred, #peppergreymetallic {background-position: 0 32%;background-size: 100%;}   
}

@media screen and (max-width:972px) {
#howcanwehelp{height:inherit;}
#howcanwehelp ul{max-width: 60%;;}
#howcanwehelp li{float:none;}
#howcanwehelp ul li:nth-child(2){float:none;}
#howcanwehelp li a{width:100%;}
#howcanwehelp li{width:100%%;margin-left: -20px;margin-bottom:20px;}
}

@media screen and (max-width:801px) {
.wrapper{padding: 0 0 25px;}   
#top-nav{display:none;}
/*#slide2 .colour-title{margin-top: 44%;}*/
#cornflowerblue, #purewhite, #deepblackpearl, #reflexsilver, #sunsetred #peppergreymetallic {background-position: 0 32%;background-size: 100%;}

/*.mobile-height{min-height:70%;}*/
.carslider li{padding:20px;}
.carslider h2, p.carslider-heading{font-size:240%;}
.carslider h2, .carslider li p.carslider-heading, #cornflowerblue h2{margin-top:15px;}
.bx-wrapper .bx-controls-direction a {
	height: 43px;
	width: 43px;
}

.bx-wrapper .bx-controls-direction a{top:40%;}
.bx-wrapper .bx-prev, .bx-wrapper .bx-prev:hover  {
background-size:contain;}
#slide2 p.mobile-adjust,.blackbox p{font-size:16px; line-height:1.3;}
#slide3 .bx-wrapper .bx-controls-direction a{top:7%}
#bottomslider h3{font-size: 200%;}
.bx-wrapper .bx-next, .bx-wrapper .bx-next:hover  {
background-size:contain;
}   
  
  /*iframe{height:405px}    */
 .blackbox{position:relative; width:100%; height:260px;top:0; left:0;background-color: #484848; background-image: none; padding:0;}
.blackbox h3 {padding: 20px;}
.blackbox p {padding: 0px 20px;}
.mobile-cta { display: none;}


 .bottomslider h3 {font-size:260%;}
 .spacer-div{display:block;}
 .car-link{display:none;}
 .car-link img, .spacer-div img{height:100%;}
 img.mob-hero{display: block}
 .scroll-down {display: none}
 img.desktop-hero{display:none;}
}

@media screen and(max-width:740px) {
   .blackbox{height:300px;}

}

@media screen and (max-width:580px) {

  .mob-hero{display:block;}
  .desktop-hero{display:none !important;}
  .bottomslider h3 {font-size:240%;}
  /*.mobile-height{min-height:61%;}  */
  .blackbox{height:300px}
  .colour-title .arrow{width: 30%;}
   #slide2 p.mobile-adjust {position:absolute; bottom:0;width: 90%;}  
   .colour-title { bottom: 200px;}
}

@media screen and (max-width:480px) {
#slide2 p.mobile-adjust{font-size:150%; line-height:1.3;}
.colour-title .arrow{width: 40%;}
#cornflowerblue h2{line-height: 100%;}
.sidenote {
  font-size: 9px;
}
}


@media screen and (max-width:412px) and (min-width:401px) {
.spacer-div{margin-top:-35px}
}

@media screen and (max-width:400px) {
 .carslider h2, p.carslider-heading{font-size:280%;}
 .blackbox{height:370px}
.bottomslider h3{font-size: 210%;}
 /*iframe{height: 220px;}*/
}

@media screen and (max-width:380px) {
    .carslider h2, p.carslider-heading{font-size: 240%;}
    #slide2 p.mobile-adjust{font-size: 16px;}
    .car-link img, .spacer-div img{margin-top:45px;}
    .car-link img, .spacer-div img{max-height: 130px;}
}










